<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <pubDate>Sat, 24 Sep 2022 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>蝙蝠の目</Creator>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tab Auto Tag</Name>
  </en>
  <ja>
    <Name>タブ 自動タグ</Name>
  </ja>
</TablacusExplorer>
